<launch>
	  <!-- roslaunch arguments -->
  <arg name="show_rviz" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>

  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <!-- <arg name="z" default="0.05"/> -->
  <!-- <arg name="z" default="0.9"/> -->
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find walker_gazebo)/launch/PDW_Foot_1.world"/>-->
    <!-- more default parameters can be changed here -->
    <arg name="paused" value="true"/>

  </include>
<!-- urdf xml robot description loaded on the Parameter Server-->
  <param name="robot_description" textfile='$(find cartpole_gazebo)/robots/cartpole_v1.urdf' />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="cartpole_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
    args="-urdf -param robot_description -model cartpole -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

<!-- robot visualization in Rviz -->
  <group if="$(arg show_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen"/> 

    <rosparam file="$(find cartpole_controller)/config/joint_position_control.yaml" command="load" />
    
    <node name="cartpole_controller_node" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller stand_cart_position_controller " />
    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  	<param name="use_gui" value="true"/>
  </node>
  </group>

</launch>
